@model IEnumerable<Reservas_Local.Models.Horario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Dia.NombreDia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora.HInicio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Dia.NombreDia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hora.HInicio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HorarioID }) |
            @Html.ActionLink("Details", "Details", new { id=item.HorarioID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HorarioID })
        </td>
    </tr>
}

</table>
