@model Reservas_Local.Models.Reserva

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Actividad.Ciclo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actividad.Ciclo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocenteReserva.NombreDocente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocenteReserva.NombreDocente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreReserva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreReserva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aproved)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReservaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
