@model Reservas_Local.Models.Hora

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Hora</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HFin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HoraID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
